body {
    margin: 0;
    padding: 0;
    background-color: #E6A116;
    font-family: 'Nimbus Sans', sans-serif;
}

a:link {
    text-decoration: none;
}

/* ACCUEIL */
.accueil {
    margin: 30px 100px 0 100px;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
    margin: 0 25px 0 25px;
}

.nav-item a {
    font-weight: 800;
    font-size: 16px;
    color: #A12A13;    
    text-transform :uppercase;
}

#logo {
    width: 200px;
}

.container-icone {
    display: flex;
    flex-direction: row-reverse;
}

#compte {
    margin: 0 20px 0 20px;
}

#panier {
    margin: 0 20px 0 20px;
}

.container-accueil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0;
}

.titre {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    color: #A12A13;    
    text-align: justify;
    margin: -60px 0 0 0;
}

.text {
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    font-style: normal;
    width: 450px;
    color: #fff;
    margin: 0;
}

.produit {
    margin: 0;
    width: 800px;
    height: 500px;
    border: 1px solid #A12A13;
    background-color: #A12A13;
}

/* SLOGAN 1 */

.slogan1 {
    background-color: #A12A13;
    background: url(img/motif3_1.png);
    background-size: 500px;
    background-repeat: repeat;
    height: 150px;
    padding: 20px;
}

.slogan {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px -1px 1px #aaa,
               0px 2px 1px rgba(0,0,0,0.5),
               2px 2px 2px rgba(0,0,0,0.7),
               0px 0px 3px rgba(0,0,0,0.4);
}

/* PRODUITS */

.produits {
    margin: 30px 100px 0 100px; 
}

.selection {
    font-size: 25px;
    color: #A12A13;
    text-align: center;
    margin: 80px 0;
}

.container-produits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.produit1 {
    margin: 0;
    width: 340px;
    height: 380px;
    border: 1px solid #A12A13;
    background-color: #E34985;
}

.produit2 {
    margin: 0;
    width: 340px;
    height: 380px;
    border: 1px solid #A12A13;
    background-color: #E34985;
}

.produit3 {
    margin: 0;
    width: 340px;
    height: 380px;
    border: 1px solid #A12A13;
    background-color: #E34985;
}

.titre-produit {
    color: #A12A13;
    font-size: 20px;
    text-align: center;
}

.descriptionProduit {
    color: #fff;
    font-size: 16px;
    text-align: justify;
}

.voir {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.voirPlus {
    font-size: 18px;
    text-align: center;
    color: #E34985;
    margin: 15px;
    border: 2px solid #E34985;
    width: 300px;
    align-items: center;
    padding: 5px;
}

/* SLOGAN 2 */

.slogan2 {
    background-color: #A12A13;
    background: url(img/motif3_1.png);
    background-size: 500px;
    background-repeat: repeat;
    height: 150px;
    padding: 20px;
}

