body {
    margin: 0;
    padding: 0;
    background-color: #E6A116;
    font-family: 'Nimbus Sans', sans-serif;
}

a:link {
    text-decoration: none;
}

/* ACCUEIL */
.accueil {
    margin: 30px 100px 0 100px;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-item {
    display: inline-block;
    list-style-type: none;
    margin: 0 25px 0 25px;
}

.nav-item a {
    font-weight: 800;
    font-size: 16px;
    color: #A12A13;    
    text-transform :uppercase;
}

#logo {
    width: 200px;
}

.container-icone {
    display: flex;
    flex-direction: row;
}

#compte {
    margin: 0 20px 0 20px;
}

#compte img {
    width: 20px;
}

#panier {
    margin: 0 20px 0 20px;
}

#panier img {
    width: 30px;
}

/* SLIDE */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  /*max-width: 1000px;*/
  margin: 50px 100px 0 100px;

  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

.imgSlide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  margin: 0 20px;
}

/* Position the "next button" to the right */
.next {
  right: -35px;
  border-radius: 3px 0 0 3px;
}

.prev {
    left: -35px;
    border-radius: 3px 0 0 3px;
  }

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px 35px;
  background-color: #f37734;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #E65D11;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/*.container-accueil {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0;
}

.text-accueil {
    margin: 0 20px 0 0;
}

.titre {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
    color: #A12A13;    
    text-align: justify;
    margin: -60px 0 0 0;
}

.text {
    font-size: 20px;
    text-align: justify;
    font-weight: 400;
    font-style: normal;
    width: 450px;
    color: #fff;
    margin: 0;
}

.produitPoulet {
    margin: 0;
    width: 650px;
}*/

/* SLOGAN 1 */

.slogan1 {
    background-color: #A12A13;
    background: url(img/motif3_1.png);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.slogan {
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-shadow: -1px -1px 1px #aaa,
               0px 2px 1px rgba(0,0,0,0.5),
               2px 2px 2px rgba(0,0,0,0.7),
               0px 0px 3px rgba(0,0,0,0.4);
}

/* PRODUITS */

.produits {
    margin: 30px 100px 0 100px; 
}

.selection {
    font-size: 25px;
    color: #A12A13;
    text-align: center;
    margin: 50px 0 40px 0;
}

.container-produits {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.produit1 {
    margin: 0;
    width: 250px;
}

.produit1 img {
    margin: 0 0 0 10px;
    width: 250px;
}

.produit2 {
    margin: 0;
    width: 250px;
}

.produit2 img {
    margin: 0;
    width: 250px;
}

.produit3 {
    margin: 0;
    width: 250px;
}

.produit3 img {
    margin: 0;
    width: 250px;
}

.titre-produit {
    color: #A12A13;
    font-size: 20px;
    text-align: center;
}

.descriptionProduit {
    color: #fff;
    font-size: 16px;
    text-align: justify;
}

.voir {
    margin: 25px 0;
    display: flex;
    justify-content: center;
}

.voirPlus {
    font-size: 18px;
    text-align: center;
    color: #E34985;
    margin: 15px;
    border: 2px solid #E34985;
    width: 300px;
    align-items: center;
    padding: 5px;
}

.voirPlus:hover {
    color: #E6A116;
    background-color: #E34985;
}

/* SLOGAN 2 */

.slogan2 {
    background-color: #A12A13;
    background-image: url(img/motif2.png);
    background-size: cover;
    background-position: center;
    height: 150px;
    padding: 20px;
}

/* DATAVIZ */

.dataviz {
    margin: 30px 100px 0 100px;
}

.titre-lutte {
    font-size: 25px;
    color: #A12A13;
    text-align: center;
    margin: 30px 0;
}

.container-dataviz {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#myChart1 {
    display: block;
    box-sizing: border-box;
    height: 300px;
}

#myChart2 {
    display: block;
    box-sizing: border-box;
    height: 300px;
    width: 300px;
}

.legende {
    font-size: 14px;
    text-align: center;
}

.paragraphe {
    font-size: 16px;
}

/* VOS AVIS */

.avis {
    margin: 30px 100px 80px 100px;
}

.titre-avis {
    color: #A12A13;
    font-size: 25px;
    text-align: center;
}

/*.bloc {
    background-color: #E65D11;
    width: 500px;
    height: 250px;
    margin: auto;
    padding: 20px;
}*/

/* SLIDE 2 */

/* Slideshow container */
.slideshow2-container {
  /*max-width: 1000px;*/
  margin: 50px 100px 0 100px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides2 {
  display: none;
}

.imgSlide2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

/* The dots/bullets/indicators */
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 5px 35px;
  background-color: #f37734;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active2, .dot2:hover {
  background-color: #E65D11;
}

/* Fading animation */
.fade2 {
  -webkit-animation-name: fade2;
  -webkit-animation-duration: 1.5s;
  animation-name: fade2;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade2 {
  from {opacity: .4}
  to {opacity: 1}
}

/*.container-vosAvis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.imgAvis {
    justify-content: center;
    width: 250px;
    height: 260px;
    background-color: #E6A116;
}

.texte-avis {
    margin: 0 0 0 20px;
}

.nomPrenom {
 font-size: 20px;
}

.commentaire {
    font-size: 18px;
}*/

/* FOOTER */

footer {
    background-color: #A12A13;
    height: 670px;
}

.container-fideliser {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px solid #E6A116;
}

.textFooter {
    font-size: 20px;
    text-align: center;
    color: #E6A116;
}

.reseaux {
    margin: 50px 0 0 0;
    padding: 0 0 50px 0;
    border-bottom: 2px solid #E6A116;
}

.container-reseauxsociaux {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fb {
    margin: 0 25px 15px;
}

.fb img {
    width: 40px;
}

.ytb {
    margin: 0 25px 15px;
}

.ytb img {
    width: 40px;
}

.insta {
    margin: 0 25px 15px;
}

.insta img {
    width: 40px;
}

.twt {
    margin: 0 25px 15px;
}

.twt img {
    width: 40px;
}

.newsletter {
    padding: 10px;
    font-size: 20px;
    color: #E6A116;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    border: 3px solid #E6A116;
    width: 410px;
    height: 50px;
    margin: auto;
}

.container-footer {
    margin: 80px 100px 0 100px;
    display: flex;
    justify-content: space-between;
}

.titre-service {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: #E6A116;
}

.titre-information {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: #E6A116;
}

.titre-paimentSecurise {
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: #E6A116;
}

.menuFooter {
    display: inline-block;
    list-style-type: none;
    padding: 0;
    font-size: 16px;
}

.menuFooter a {
    color: #E6A116;
}

.onglet {
    margin: 0 0 5px 0;
}

.container-logoBanque {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.visa img{
    width: 70px;
}

.visa {
    margin: 5px 25px 0 0;
}

.master img{
    width: 60px;
}

.master {
    margin: 5px 25px 0 0;
}

.paypal img{
    width: 40px;
}

.paypal {
    margin: 5px 25px 0 0;
}

.container-copyright {
    display: flex;
    justify-content: center;
}

.ongletF {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 50px 0 0 0;
    padding: 0 25px;
    border-right: 2px solid #E6A116;
}

.menuF {
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    margin: 50px 0 0 0;
    padding: 0 25px;
}

.menuF a {
    font-size: 16px;
    color: #E6A116;   
}

.ongletF a {
    font-size: 16px;
    color: #E6A116;    
}

.copyright {
    font-size: 14px;
    color: #E6A116;
    text-align: center;
    margin: 0;
}